{% extends "Base.html" %}

{% block content%}
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="page-header">
            <h1 class="text-center text-primary">秘密</h1>
        </div>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">secretHash</th>
                    <th scope="col">共享人数</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for secret in secrets %}
                <tr>
                    <th scope="row">{{ secret.id }}</th>
                    <td>{{ secret.secretHash }}</td>
                    <td>{{ secret.shareNums }}</td>
                    <td></td>
                </tr>


                {% endfor %}

            </tbody>
        </table>

    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="page-header">
            <h1 class="text-center text-primary">子秘密</h1>
        </div>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">所属</th>
                    <th scope="col">secretHash</th>
                    <th scope="col">subSecretHash</th>
                    <th scope="col">进度</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>

                {% for sub in subs %}
                <tr>
                    <th scope="row">{{ sub.id }}</th>
                    <td>{{ sub.owner.username }}</td>
                    <td>{{ sub.secretHash }}</td>
                    <td>{{ sub.subSecretHash }}</td>
                    <td>{{ sub.shareNums }}/{{ sub.hasNums }} </td>
                    <td></td>
                </tr>


                {% endfor %}

            </tbody>
        </table>


    </div>

</div>
{% endblock %}