{% extends "Base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}重置密码{% endblock %}

{% block content %}
<div class="login-form">
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <header>重置密码</header>

    {{ wtf.quick_form(form) }}

</div>

{% endblock %}